@import url('https://cdn.wallpapersafari.com/33/50/lTpXNw.jpeg');

html {
  font-family: "Comic", sans-serif;
}
body {
  margin: 0px;
  background: url('https://cdn.wallpapersafari.com/33/50/lTpXNw.jpeg');
}
.nav-bar {
  // background: black;
  color: white;
}
.nav-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.links-wrapper {
  margin: 0px;
  width: 90%;
  text-align: center;
  padding: 1em;
  color: white;
  -webkit-box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 10px 5px 15px 5px rgba(255,255,255,0); 
  box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 10px 5px 15px 5px rgba(255,255,255,0);
}
ul {
    display: flex;
    justify-content: center;
}
.links {
  display: block;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  background: black;
  color: white;
}
.links:hover,
.links:active {
  color: black;
  background:#ff8000;
}

.links a {
  text-decoration: none;
}


.breakbtn,
.lunchbtn,
.dinnerbtn{
    background-color: #ff8000;
    width:10em;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
.breakbtn:hover, .breakbtn:focus,
.lunchbtn:hover, .lunchbtn:focus,
.dinnerbtn:hover, .dinnerbtn:focus {
    background-color: black;
  }
  .breakfast,
  .lunch,
  .dinner{
    position: relative;
    display: inline-block;
  }
.breakContent{
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;  
}
.lunchContent {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;    
}
.dinnerContent {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;  
}   
  .breakContent a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .lunchContent a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dinnerContent a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }  
    .heros-section{
    color:white;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

.show {display: block;}
.display{display: inline-block;}

@media (max-width: 48em) {
    ul {
        display: block;
    }
};
